html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sofia Sans', sans-serif;
}

a.rect {
    display: block;
    text-decoration: none;
}

p {
    color: white;
    font-family: Sofia Sans;
}

h1 {
    color: white;
    font-size: 32px;
    font-family: Sofia Sans;
    font-weight: 400;
    word-wrap: break-word;

    opacity: 0;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid {
    display: flex;
    width: 100%;
    height: 100%;
}

.rect {
    flex: 1;
    transition: 0.8s ease;

    position: relative;
    text-align: center;
    overflow: hidden;
}

.rect:hover {
    flex: 3;
}

.rect:hover .intro-block {
    opacity: 0.8;
}

.rect:hover img {
    filter: blur(20px);
}

.rect img {
    opacity: 0;
    animation: fadeIn 1s forwards;
    transition: 0.8s ease;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-block {
    opacity: 0;
    transition: 0.8s ease;

    z-index: 2;
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #22251E;
    border-radius: 20px;
}

.logo {
    position: fixed;
    width: 60px;
    height: 60px;

    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile-pic {
    background-color: tomato;
    z-index: 3;
    position: absolute;
    width : 40px;
    height: 40px;
    border-radius: 50%;
    top: 10px;
}

.profile-pic img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}