html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sofia Sans', sans-serif;
}

h2 {
    margin: 0 0;
    font-size: 24px;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
}

p {
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 32px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word;

    opacity: 0;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.grid {
    display: flex;
    width: 100%;
    height: 100%;
}

.rect {
    flex: 1;
    transition: 0.8s ease;

    text-decoration: none;
    position: relative;

    display: flex;
    text-align: center;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.rect:hover {
    flex: 3;
}

.rect:hover .intro-block {
    opacity: 0.8;
}

.rect:hover .bg-img,
.rect:hover h1 {
    filter: blur(10px);
}

.bg-img {
    z-index: 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
    transition: 0.8s ease;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rect h1 {
    z-index: 1;
}

.intro-block {
    opacity: 0;
    transition: 0.8s ease;

    position: relative;
    z-index: 1;
    width: 75%;
    height: 75%;

    background-color: #22251E;
    border-radius: 20px;

    text-align: left;
    box-sizing: border-box;
    padding: 20px;
}

.logo {
    position: fixed;
    width: 60px;
    height: 60px;

    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile-pic {
    position: absolute;
    width: auto;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
}

.scroll-container {
    position: relative;
    width: 80%;
    height: 30%;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scrollbar-width: none; 
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.scroll-img {
    flex: 0 0 100%;
}