html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Sofia Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 32px;
    font-family: Sofia Sans;
    font-weight: 400;
    word-wrap: break-word;

    opacity: 0;
    animation: slideIn 1s forwards;
    animation-delay: 1.5s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-page {
    display: flex;
    width: 100%;
    position: relative;
    background-color: #2a2e26;
    height: 100%;
    overflow: hidden;
}

.logo {
    position: fixed;
    width: 60px;
    height: 60px;

    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home-page-Rectangle {
    flex: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100%/5);
    height: 100%;

    text-align: center;
    justify-content: center;
    overflow: hidden;

    animation: expand 1.5s ease-in-out forwards;
}

.home-page-Rectangle img {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}

.home-page-Rectangle h1 {
    position: relative;
    top: 20px;
    z-index: 2;
}

/* .home-page-Rectangle:hover{
    
} */

.R1 { --shift: 0%; }
.R2 { --shift: 100%; }
.R3 { --shift: 200%; }
.R4 { --shift: 300%; }
.R5 { --shift: 400%; }

@keyframes expand {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(var(--shift));
    }
}